﻿@model VinaVN.Models.MoViewModel
@using VinaVN.Code
<div id="page-title">
    <h2>TIN NHẮN ĐẾN</h2>
    <p>Danh sách tin nhắn khách hàng.</p>
</div>
<div class="panel" style="min-height:350px;">
    <div class="panel-body">
        <div class="example-box-wrapper">
            <div class="example-box-wrapper">
                <form class="form-horizontal" method="post" action="/Mo">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Số điện thoại</label>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Nhập số điện thoại cần kiểm tra..." })
                        </div>
                    </div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Nội dung</label>
						<div class="col-sm-6">
							@Html.TextBoxFor(model => model.MoMessage, new { @class = "form-control", placeholder = "Nhập nội dung cần kiểm tra..." })
						</div>
					</div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Từ ngày </label>
                        <div class="col-sm-6">
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon">
                                    <i class="glyph-icon icon-calendar"></i>
                                </span>
                                @Html.TextBoxFor(model => model.FromDate, new { @class = "bootstrap-datepicker form-control" })
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-sm-3 control-label">Đến ngày </label>
                        <div class="col-sm-6">
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon">
                                    <i class="glyph-icon icon-calendar"></i>
                                </span>
                                @Html.TextBoxFor(model => model.ToDate, new { @class = "bootstrap-datepicker form-control" })
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Trạng thái</label>
                        <div class="col-sm-6">
                            @Html.EnumDropDownListFor(model => model.MoStatus, null, true, "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3" style="text-align:right;">
                            &nbsp;
                        </div>
                        <div class="col-sm-6">
                            <input type="submit" name="submitButton" value="Tra cứu..." class="btn btn-success" />
                            @*<input type="submit" name="submitButton" value="Export" class="btn btn-azure" />*@
                        </div>
                    </div>
                </form>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>PinCode</th>
						<th>Mã khách hàng</th>
						<th>Mã khách hàng giới thiệu</th>
                        <th>Nội dung</th>
                        <th>Xem MT</th>
                        <th>Điện thoại</th>
                        @*<th>Keyword phụ</th>*@
                        <th>Trạng thái</th>
                        <th>Thời gian</th>
                        @*<th>Ngày cập nhật</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (Vina.DTO.Mo mo in Model.DataList)
                    {
                        <tr>
                            <td>@mo.ID</td>
                            <td>
                                @{
                                    if (mo.ExtentionProperty["PinCode"] == "")
                                    {
                                        @("N/A")
                                    }
                                    else
                                    {
                                        @mo.ExtentionProperty["PinCode"]
                                    }
                                }
                            </td>
							<td>
								@{
									if (mo.ExtentionProperty["CustomerCode"] == "")
									{
										@("N/A")
									}
									else
									{
										@mo.ExtentionProperty["CustomerCode"]
									}
								}
							</td>

							<td>
								@{
									if (mo.ExtentionProperty["ReferralCustomerCode"] == "")
									{
										@("N/A")
									}
									else
									{
										@mo.ExtentionProperty["ReferralCustomerCode"]
									}
								}
							</td>

                            <td>@mo.MoMessage</td>
                            <td style="text-align:center;"><a target="_blank" href="/Mt/?MoId=@mo.ID"> MT <i class="glyph-icon icon-arrow-right"></i></a></td>
                            <td>@mo.PhoneNumber</td>
                            @*<td style="text-align:center;">@mo.ExtentionProperty["SubKeyValue"]</td>*@
                            <td>@mo.MoStatus.ToString()</td>
                            <td>@mo.CreatedDate</td>
                           @* <td>@mo.UpdatedDate</td>*@
                        </tr>
                    }
                </tbody>
            </table>
            @Html.Partial("~/Views/Shared/Pager.cshtml", Model.Page)
        </div>
    </div>
</div>
@Html.Partial("~/Views/Scripts/_dateTimePicker.cshtml")