﻿@{
    Layout = "~/Views/Shared/_managerLayout.cshtml";
}
@model VinaVN.Models.DefaultWrongSyntaxMessageViewModel

<script type="text/javascript">

    $(document).ready(function () {
        $('#NumCharDefaultWrongSyntaxMessage').html($('#DefaultWrongSyntaxMessage').val().length);

        $('#DefaultWrongSyntaxMessage').keyup(function () {
            if ($(this).val().length > 159) {
                alert("Tin MT dài tối đa 160 ký tự");
                $(this).val($(this).val().substr(1, 159))
            }
            $('#NumCharDefaultWrongSyntaxMessage').html($(this).val().length);
            //$(this).val(remove_unicode($(this).val()));
        });
    });
</script>

<div class="example-box-wrapper ">
    @if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
    {
        <h3 class="content-box-header bg-green" style="margin-bottom:10px;">
            @ViewBag.SuccessMessage
        </h3>
    }
    @if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
    {
        <h3 class="content-box-header bg-red" style="margin-bottom:10px;">
            @ViewBag.ErrorMessage
        </h3>
    }
    <h3 class="content-box-header bg-green" style="margin-bottom:10px;">
        Lưu ý: Nội dung tin MT chỉ hỗ trợ tối đa 160 ký tự (bao gồm khoảng trắng) và định dạng tiếng Việt không dấu để
        đảm bảo hiển thị đầy đủ nội dung trên thiết bị di động của người nhận tin.
    </h3>
    <form class="form-horizontal bordered-row" method="post" action="/MtConfig/ConfigDefaultWrongSyntaxMessage">
        <div class="form-group">
            <label class="col-sm-3 control-label">MT thành công</label>
            <div class="col-sm-6">
                @Html.TextAreaFor(model => model.DefaultWrongSyntaxMessage, 5, 55, new { @class = "form-control", placeholder = "Nội dung trả về khi sai cú pháp..." })
                <br />Số ký tự đã nhập : <span id="NumCharDefaultWrongSyntaxMessage">0</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3" style="text-align:right;">
                &nbsp;
            </div>
            <div class="col-sm-6">
                <button class="btn btn-success" type="submit">Lưu thay đổi...</button>
            </div>
        </div>
    </form>
</div>