﻿@model VinaVN.Models.PinCodeGenerateCodeViewModel
@{
    Layout = "";
}
<div class="form-group">
    <label class="col-sm-4 control-label">Chọn block : </label>
    <div class="col-sm-6">
        <i class="fa"></i>
        @Html.DropDownList("PinCodeBlockID", (SelectList)ViewBag.PinCodeBlockList, new { @class = "form-control" })
    </div>
</div>