﻿@{
    Layout = "~/Views/Shared/_managerLayout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        setInterval(function(){
            $.ajax({
                type: 'POST',
                url: '/PinCode/AjaxCountGenerateProcess/',
                data: 'blockId=' + @ViewBag.BlockId + '&totalPincode=' + @ViewBag.TotalPinCode + '&createdById=' + @ViewBag.CreatedById,
                success: function (response) {
                    if(response == '100')
                    {
                        $(".img-loading").html("<img src='/Content/monarch/img/load_complete.png' />");
                        var linkdownload = "<a style='color:blue;text-decoration:underline;' href='/PinCodeTemp/ExportListAfterGenerate/?type=1&blockId=565321&createdById=" + @ViewBag.CreatedById + "'><img src = '/Content/monarch/img/download.png' style = 'width:150px;height:50px;' /></a>";
                        var result = "<span style = 'color:green;'>Đã tạo " + @ViewBag.TotalPinCode + " / " + @ViewBag.TotalPinCode + " mã code.<br />Trạng thái : Hoàn thành" + "</span><br />" + linkdownload;
                        $(".generate-result").html(result);
                        $(".welcome-message").text("Quá trình tạo mã code đã hoàn thành. Click vào download để tải file mã code về máy.");
                    }
                    else
                    {
                        $(".generate-result").html(response);
                    }
                },
                error: function () {
                }
            });
        }, 5000);
    });
</script>

<div style="width:100%;text-align:center;">
    <h2 class="welcome-message" style="color:green;">Hệ thống đang tạo mã PIN, vui lòng đợi trong giây lát... </h2><br />
    <span class="img-loading"> <img src="~/Content/monarch/img/waiting.gif" /></span><br />
    <h2 class="generate-result" style="margin-top:10px;color:green;">
        Đã tạo 0 / @ViewBag.TotalPinCode mã code.<br />
        Trạng thái : Đang kết nối
    </h2>
</div>