﻿
<script type="text/javascript" src="/Content/monarch/assets/widgets/datepicker/datepicker.js"></script>

<!-- jQueryUI Datepicker -->
<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/datepicker-ui/datepicker.css">-->
<script type="text/javascript" src="/Content/monarch/assets/widgets/datepicker-ui/datepicker.js"></script>
<script type="text/javascript" src="/Content/monarch/assets/widgets/datepicker-ui/datepicker-demo.js"></script>
<!-- Bootstrap Daterangepicker -->
<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/daterangepicker/daterangepicker.css">-->
<script type="text/javascript" src="/Content/monarch/assets/widgets/daterangepicker/moment.js"></script>
<script type="text/javascript" src="/Content/monarch/assets/widgets/daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="/Content/monarch/assets/widgets/daterangepicker/daterangepicker-demo.js"></script>
<!-- Bootstrap Timepicker -->
<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/timepicker/timepicker.css">-->
<script type="text/javascript" src="/Content/monarch/assets/widgets/timepicker/timepicker.js"></script>

<script type="text/javascript">
    /* Datepicker bootstrap */

    $(function () {
        "use strict";
        $('.bootstrap-datepicker').bsdatepicker({
            format: 'mm-dd-yyyy'
        });
    });

    /* Timepicker */

    $(function () {
        "use strict";
        $('.timepicker-example').timepicker();
    });

</script>
