﻿@model VinaVN.Models.CustomerViewModel
@using VinaVN.Code
<div id="page-title">
	<h2>KHÁCH HÀNG</h2>
	<p>Danh sách khách hàng.</p>
</div>
<div class="panel" style="min-height:350px;">
	<div class="panel-body">
		<div class="example-box-wrapper">
			<div class="example-box-wrapper">
				@if (ViewBag.SuccessMessage != null && ViewBag.SuccessMessage != "")
				{
					<h3 class="content-box-header bg-green" style="margin-bottom:10px;">
						@ViewBag.SuccessMessage
					</h3>
				}
				@if (ViewBag.ErrorMessage != null && ViewBag.ErrorMessage != "")
				{
					<h3 class="content-box-header bg-red" style="margin-bottom:10px;">
						@ViewBag.ErrorMessage
					</h3>
				}
				<form class="form-horizontal" method="post" action="/Customer">
					<div class="form-group">
						<label class="col-sm-3 control-label">Mã khách hàng</label>
						<div class="col-sm-6">
							@Html.TextBoxFor(model => model.CustomerCode, new { @class = "form-control", placeholder = "Nhập mã khách hàng cần kiểm tra..." })
						</div>
					</div>
					@*<div class="form-group">
						<label class="col-sm-3 control-label">Mã khách hàng giới thiệu</label>
						<div class="col-sm-6">
							@Html.TextBoxFor(model => model.ReferralCustomerCode, new { @class = "form-control", placeholder = "Nhập mã khách hàng giới thiệu cần kiểm tra..." })
						</div>
					</div>*@
					<div class="form-group">
						<label class="col-sm-3 control-label">Số điện thoại</label>
						<div class="col-sm-6">
							@Html.TextBoxFor(model => model.CustomerPhone, new { @class = "form-control", placeholder = "Nhập số điện thoại cần kiểm tra..." })
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Tên khách hàng</label>
						<div class="col-sm-6">
							@Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control", placeholder = "Nhập tên cần kiểm tra..." })
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Địa chỉ</label>
						<div class="col-sm-6">
							@Html.TextBoxFor(model => model.CustomerAddress, new { @class = "form-control", placeholder = "Nhập địa chỉ cần kiểm tra..." })
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Email</label>
						<div class="col-sm-6">
							@Html.TextBoxFor(model => model.CustomerEmail, new { @class = "form-control", placeholder = "Nhập Email cần kiểm tra..." })
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">Từ ngày </label>
						<div class="col-sm-6">
							<div class="input-prepend input-group">
								<span class="add-on input-group-addon">
									<i class="glyph-icon icon-calendar"></i>
								</span>
								@Html.TextBoxFor(model => model.FromDate, new { @class = "bootstrap-datepicker form-control" })
							</div>

						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-3 control-label">Đến ngày </label>
						<div class="col-sm-6">
							<div class="input-prepend input-group">
								<span class="add-on input-group-addon">
									<i class="glyph-icon icon-calendar"></i>
								</span>
								@Html.TextBoxFor(model => model.ToDate, new { @class = "bootstrap-datepicker form-control" })
							</div>

						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-3" style="text-align:right;">
							&nbsp;
						</div>
						<div class="col-sm-6">
							<input type="submit" name="submitButton" value="Tra cứu..." class="btn btn-success" />
							@*<input type="submit" name="submitButton" value="Export" class="btn btn-azure" />*@
						</div>
					</div>
				</form>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th style="word-wrap:break-word;max-width:75px">Mã khách hàng</th>
						@*<th style="word-wrap:break-word;max-width:75px">Mã khách hàng giới thiệu</th>*@
						<th>Tên khách hàng</th>
						<th>Số điện thoại</th>
						<th>Địa chỉ</th>
						<th>Email</th>
						<th>Ngày tạo</th>
						<th>Thông tin khác</th>
						<th>Hành động</th>
					</tr>
				</thead>
				<tbody>
					@if (Model.DataList!=null)
					{ 
						foreach (Vina.DTO.Customer mo in Model.DataList)
						{
							<tr>
								<td>@mo.ID</td>
								<td>
									@mo.CustomerCode
								</td>
								@*<td>
									@{
										if (mo.ExtentionProperty["ReferralCustomerCode"] == "")
												{
													@("N/A")
												}
												else
												{
													@mo.ExtentionProperty["ReferralCustomerCode"]
												}
									}
								</td>*@
								<td>@mo.CustomerName</td>
								<td>@mo.CustomerPhone</td>
								<td>@mo.CustomerAddress</td>
								<td>@mo.CustomerEmail</td>
								<td>@mo.CreatedDate</td>
								<td>@mo.CustomerNote</td>
								<td>
									<a href="/Customer/Edit/?cusid=@mo.ID" data-original-title="Chỉnh sửa" title="Chỉnh sửa khách hàng này" class="glyph-icon demo-icon tooltip-button icon-edit fancybox fancybox.ajax"></a>
									@*<a href="/PinCode/CreateBlock" class="btn  btn-alt btn-hover btn-yellow fancybox fancybox.ajax">Tạo mới block &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="glyph-icon icon-arrow-right"></i></a>&nbsp;&nbsp;*@
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
			@Html.Partial("~/Views/Shared/Pager.cshtml", Model.Page)
		</div>
	</div>
</div>
@Html.Partial("~/Views/Scripts/_dateTimePicker.cshtml")