﻿<div id="page-footer" style="margin-top:25px;padding:15px;color:#ffffff;background:#00714f">
    Copyright © 2016 Fibo. Đơn vị chủ quản: <b>CÔNG TY TNHH VIỆT PHÁP</b><br />
    Địa chỉ : Lô A44 cụm công nghiệp Diên Phú, Diên Khánh, Khánh Hòa<br />
    Điện thoại : <b>0583.771.379</b><br />
    Fax: <b>0583.771.382</b><br />
    Website : <b>www.vifasport.com - www.vietphap.com.vn</b><br />
    Email : <b>vietphap@vifasport.com</b><br />
    Hotline: <b>0967 99 00 99</b>
</div>