﻿<html lang="en">
<!-- Mirrored from demo.agileui.com/monarch/demo/admin-template/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Mar 2015 16:41:16 GMT -->
<head>
    @*<style>
            /* Loading Spinner */
            .spinner{margin:0;width:70px;height:18px;margin:-35px 0 0 -9px;position:absolute;top:50%;left:50%;text-align:center}.spinner > div{width:18px;height:18px;background-color:#333;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0.0)}40%{-webkit-transform:scale(1.0)}}@keyframes bouncedelay{0%,80%,100%{transform:scale(0.0);-webkit-transform:scale(0.0)}40%{transform:scale(1.0);-webkit-transform:scale(1.0)}}
        </style>*@

    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title> VifaSport - CT TNHH Việt Pháp </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/monarch/assets/images/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/monarch/assets/images/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/monarch/assets/images/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/Content/monarch/assets/images/icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/Content/monarch/assets/images/icons/favicon.png">

    <link rel="stylesheet" type="text/css" href="/Content/monarch/assets-minified/admin-all-demo.css">
    <!-- JS Core -->
    <script type="text/javascript" src="/Content/monarch/assets-minified/js-core.js"></script>


    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $('#loading').fadeOut(400, "linear");
            }, 300);
        });
    </script>

    <script type="text/javascript" src="/Content/monarch/assets/widgets/charts/sparklines/sparklines.js"></script>
    <script type="text/javascript" src="/Content/monarch/assets/widgets/charts/sparklines/sparklines-demo.js"></script>
    <!-- Flot charts -->
    <script type="text/javascript" src="/Content/monarch/assets/widgets/charts/flot/flot.js"></script>
    <script type="text/javascript" src="/Content/monarch/assets/widgets/charts/flot/flot-resize.js"></script>
    <script type="text/javascript" src="/Content/monarch/assets/widgets/charts/flot/flot-stack.js"></script>
    <script type="text/javascript" src="/Content/monarch/assets/widgets/charts/flot/flot-pie.js"></script>
    <script type="text/javascript" src="/Content/monarch/assets/widgets/charts/flot/flot-tooltip.js"></script>
    <script type="text/javascript" src="/Content/monarch/assets/widgets/charts/flot/flot-demo-1.js"></script>
    <!-- PieGage charts -->
    <script type="text/javascript" src="/Content/monarch/assets/widgets/charts/piegage/piegage.js"></script>
    <script type="text/javascript" src="/Content/monarch/assets/widgets/charts/piegage/piegage-demo.js"></script>

    <script type="text/javascript" src="/Content/monarch/assets/widgets/wizard/wizard.js"></script>
    <script type="text/javascript" src="/Content/monarch/assets/widgets/wizard/wizard-demo.js"></script>
    <!-- Boostrap Tabs -->
    <script type="text/javascript" src="/Content/monarch/assets/widgets/tabs/tabs.js"></script>

    <script type="text/javascript" src="/Content/monarch/assets/widgets/tooltip/tooltip.js"></script>
    <script type="text/javascript" src="/Content/monarch/assets/widgets/popover/popover.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/xeditable/xeditable.css">-->
    <script type="text/javascript" src="/Content/monarch/assets/widgets/xeditable/xeditable.js"></script>
    <script type="text/javascript" src="/Content/monarch/assets/widgets/xeditable/xeditable-demo.js"></script>
    <script type="text/javascript" src="/Content/monarch/assets/widgets/daterangepicker/moment.js"></script>

    <script type="text/javascript" src="/Content/monarch/assets-minified/admin-all-demo.js"></script>
    <script type="text/javascript" src="/Content/fancybox/lib/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/paging.js"></script>

    <script type="text/javascript" src="/Content/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="/Content/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />

    <link href="/Content/themes/datetimepicker/jquery-ui.css" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function () {
            $('.fancybox').fancybox();
        });
    </script>

    <link href="/Content/datetimepicker/jquery-ui.css" rel="stylesheet">
</head>

<body>
    <div id="sb-site">
        <div id="page-wrapper">
            <div id="page-header" style="background:#00714f">
                @Html.Partial("_Header")
            </div>
            <div id="page-sidebar" style="text-align:justify;padding-top:20px;padding-left:10px;padding-right:10px;">
                @Html.Partial("_SidebarAdmin")
            </div>
            <div id="page-content-wrapper">
                <div id="page-content">
                    <!-- Sparklines charts -->
                    @RenderBody()
                </div>
            </div>

        </div>
        @Html.Partial("_Footer")
        <!-- JS Demo -->
    </div>
</body>

<!-- Mirrored from demo.agileui.com/monarch/demo/admin-template/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 12 Mar 2015 16:43:32 GMT -->
</html>