﻿
<div class="scroll-sidebar">

    <ul id="sidebar-menu">
        @*<li class="header"><span>Hệ thống</span></li>
        <li>
            <a href="/Home" title="Trang chủ">
                <i class="glyph-icon icon-twitch"></i>
                <span>Trang chủ</span>
            </a>
        </li>
        <li class="divider"></li>
        <li class="no-menu">
            <a href="/Config/ChangeConfig" title="Cấu hình hệ thống">
                <i class="glyph-icon icon-cogs"></i>
                <span>Cấu hình hệ thống</span>
            </a>
        </li>*@
        <li class="header"><span>Quản trị</span></li>
        <li>
            <a href="/PinCode" title="Danh sách PinCode">
                <i class="glyph-icon icon-credit-card"></i>
                <span>PinCode</span>
            </a>
        </li>
        <li>
            <a href="/PinCodeBlock" title="Block">
                <i class="glyph-icon icon-language"></i>
                <span>Block PinCode</span>
            </a>
        </li>
        <li>
            <a href="/Mo" title="Danh sách tin nhắn đến">
                <i class="glyph-icon icon-envelope"></i>
                <span>Tin nhắn đến</span>
            </a>
        </li>
        <li>
            <a href="/Mt" title="Danh sách tin nhắn trả về">
                <i class="glyph-icon icon-envelope-o"></i>
                <span>Tin nhắn đã gửi</span>
            </a>
        </li>
        @*<li>
            <a href="/SubKey" title="Danh sách cú pháp">
                <i class="glyph-icon icon-file-code-o"></i>
                <span>Cú pháp</span>
            </a>
        </li>*@
        @*<li>
            <a href="/MtConfig" title="Cấu hình nội dung tin nhắn trả về">
                <i class="glyph-icon icon-file-text"></i>
                <span>Cấu hình nội dung tin nhắn</span>
            </a>
        </li>*@
        <li>
            <a href="/Customer" title="Khách hàng">
                <i class="glyph-icon icon-user"></i>
                <span>Khách hàng</span>
            </a>
        </li>
    </ul><!-- #sidebar-menu -->
</div>

