﻿<div class="sb-slidebar bg-black sb-left sb-style-overlay">
    <div class="scrollable-content scrollable-slim-sidebar">
        <div class="pad10A">
            <div class="divider-header">Online</div>
            <ul class="chat-box">
                <li>
                    <div class="status-badge">
                        <img class="img-circle" width="40" src="/Content/monarch/assets/image-resources/people/testimonial1.jpg" alt="">
                        <div class="small-badge bg-green"></div>
                    </div>
                    <b>
                        Grace Padilla
                    </b>
                    <p>On the other hand, we denounce...</p>
                    <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                </li>
                <li>
                    <div class="status-badge">
                        <img class="img-circle" width="40" src="/Content/monarch/assets/image-resources/people/testimonial2.jpg" alt="">
                        <div class="small-badge bg-green"></div>
                    </div>
                    <b>
                        Carl Gamble
                    </b>
                    <p>Dislike men who are so beguiled...</p>
                    <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                </li>
                <li>
                    <div class="status-badge">
                        <img class="img-circle" width="40" src="/Content/monarch/assets/image-resources/people/testimonial3.jpg" alt="">
                        <div class="small-badge bg-green"></div>
                    </div>
                    <b>
                        Michael Poole
                    </b>
                    <p>Of pleasure of the moment, so...</p>
                    <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                </li>
                <li>
                    <div class="status-badge">
                        <img class="img-circle" width="40" src="/Content/monarch/assets/image-resources/people/testimonial4.jpg" alt="">
                        <div class="small-badge bg-green"></div>
                    </div>
                    <b>
                        Bill Green
                    </b>
                    <p>That they cannot foresee the...</p>
                    <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                </li>
                <li>
                    <div class="status-badge">
                        <img class="img-circle" width="40" src="/Content/monarch/assets/image-resources/people/testimonial5.jpg" alt="">
                        <div class="small-badge bg-green"></div>
                    </div>
                    <b>
                        Cheryl Soucy
                    </b>
                    <p>Pain and trouble that are bound...</p>
                    <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                </li>
            </ul>
            <div class="divider-header">Idle</div>
            <ul class="chat-box">
                <li>
                    <div class="status-badge">
                        <img class="img-circle" width="40" src="/Content/monarch/assets/image-resources/people/testimonial6.jpg" alt="">
                        <div class="small-badge bg-orange"></div>
                    </div>
                    <b>
                        Jose Kramer
                    </b>
                    <p>Equal blame belongs to those...</p>
                    <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                </li>
                <li>
                    <div class="status-badge">
                        <img class="img-circle" width="40" src="/Content/monarch/assets/image-resources/people/testimonial7.jpg" alt="">
                        <div class="small-badge bg-orange"></div>
                    </div>
                    <b>
                        Dan Garcia
                    </b>
                    <p>Weakness of will, which is same...</p>
                    <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                </li>
                <li>
                    <div class="status-badge">
                        <img class="img-circle" width="40" src="/Content/monarch/assets/image-resources/people/testimonial8.jpg" alt="">
                        <div class="small-badge bg-orange"></div>
                    </div>
                    <b>
                        Edward Bridges
                    </b>
                    <p>These cases are perfectly simple...</p>
                    <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                </li>
            </ul>
            <div class="divider-header">Offline</div>
            <ul class="chat-box">
                <li>
                    <div class="status-badge">
                        <img class="img-circle" width="40" src="/Content/monarch/assets/image-resources/people/testimonial1.jpg" alt="">
                        <div class="small-badge bg-red"></div>
                    </div>
                    <b>
                        Randy Herod
                    </b>
                    <p>In a free hour, when our power...</p>
                    <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                </li>
                <li>
                    <div class="status-badge">
                        <img class="img-circle" width="40" src="/Content/monarch/assets/image-resources/people/testimonial2.jpg" alt="">
                        <div class="small-badge bg-red"></div>
                    </div>
                    <b>
                        Patricia Bagley
                    </b>
                    <p>when nothing prevents our being...</p>
                    <a href="#" class="btn btn-md no-border radius-all-100 btn-black"><i class="glyph-icon icon-comments-o"></i></a>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="sb-slidebar bg-black sb-right sb-style-overlay">
    <div class="scrollable-content scrollable-slim-sidebar">
        <div class="pad15A">
            <a href="#" title="" data-toggle="collapse" data-target="#sidebar-toggle-1" class="popover-title">
                Cloud status
                <span class="caret"></span>
            </a>
            <div id="sidebar-toggle-1" class="collapse in">
                <div class="pad15A">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-center font-gray pad5B text-transform-upr font-size-12">New visits</div>
                            <div class="chart-alt-3 font-gray-dark" data-percent="55"><span>55</span>%</div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center font-gray pad5B text-transform-upr font-size-12">Bounce rate</div>
                            <div class="chart-alt-3 font-gray-dark" data-percent="46"><span>46</span>%</div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-center font-gray pad5B text-transform-upr font-size-12">Server load</div>
                            <div class="chart-alt-3 font-gray-dark" data-percent="92"><span>92</span>%</div>
                        </div>
                    </div>
                    <div class="divider mrg15T mrg15B"></div>
                    <div class="text-center">
                        <a href="#" class="btn center-div btn-info mrg5T btn-sm text-transform-upr updateEasyPieChart">
                            <i class="glyph-icon icon-refresh"></i>
                            Update charts
                        </a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <a href="#" title="" data-toggle="collapse" data-target="#sidebar-toggle-6" class="popover-title">
                Latest transfers
                <span class="caret"></span>
            </a>
            <div id="sidebar-toggle-6" class="collapse in">
                <ul class="files-box">
                    <li>
                        <i class="files-icon glyph-icon font-red icon-file-archive-o"></i>
                        <div class="files-content">
                            <b>blog_export.zip</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-clock-o"></i>
                                added on <b>22.10.2014</b>
                            </div>
                        </div>
                        <div class="files-buttons">
                            <a href="#" class="btn btn-xs hover-info tooltip-button" data-placement="left" title="Download">
                                <i class="glyph-icon icon-cloud-download"></i>
                            </a>
                            <a href="#" class="btn btn-xs hover-danger tooltip-button" data-placement="left" title="Delete">
                                <i class="glyph-icon icon-times"></i>
                            </a>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <i class="files-icon glyph-icon icon-file-code-o"></i>
                        <div class="files-content">
                            <b>homepage-test.html</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-clock-o"></i>
                                added  <b>19.10.2014</b>
                            </div>
                        </div>
                        <div class="files-buttons">
                            <a href="#" class="btn btn-xs hover-info tooltip-button" data-placement="left" title="Download">
                                <i class="glyph-icon icon-cloud-download"></i>
                            </a>
                            <a href="#" class="btn btn-xs hover-danger tooltip-button" data-placement="left" title="Delete">
                                <i class="glyph-icon icon-times"></i>
                            </a>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <i class="files-icon glyph-icon font-yellow icon-file-image-o"></i>
                        <div class="files-content">
                            <b>monthlyReport.jpg</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-clock-o"></i>
                                added on <b>10.9.2014</b>
                            </div>
                        </div>
                        <div class="files-buttons">
                            <a href="#" class="btn btn-xs hover-info tooltip-button" data-placement="left" title="Download">
                                <i class="glyph-icon icon-cloud-download"></i>
                            </a>
                            <a href="#" class="btn btn-xs hover-danger tooltip-button" data-placement="left" title="Delete">
                                <i class="glyph-icon icon-times"></i>
                            </a>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <i class="files-icon glyph-icon font-green icon-file-word-o"></i>
                        <div class="files-content">
                            <b>new_presentation.doc</b>
                            <div class="files-date">
                                <i class="glyph-icon icon-clock-o"></i>
                                added on <b>5.9.2014</b>
                            </div>
                        </div>
                        <div class="files-buttons">
                            <a href="#" class="btn btn-xs hover-info tooltip-button" data-placement="left" title="Download">
                                <i class="glyph-icon icon-cloud-download"></i>
                            </a>
                            <a href="#" class="btn btn-xs hover-danger tooltip-button" data-placement="left" title="Delete">
                                <i class="glyph-icon icon-times"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <a href="#" title="" data-toggle="collapse" data-target="#sidebar-toggle-3" class="popover-title">
                Tasks for today
                <span class="caret"></span>
            </a>
            <div id="sidebar-toggle-3" class="collapse in">
                <ul class="progress-box">
                    <li>
                        <div class="progress-title">
                            New features development
                            <b>87%</b>
                        </div>
                        <div class="progressbar-smaller progressbar" data-value="87">
                            <div class="progressbar-value bg-azure">
                                <div class="progressbar-overlay"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress-title">
                            Finishing uploading files
                            <b>66%</b>
                        </div>
                        <div class="progressbar-smaller progressbar" data-value="66">
                            <div class="progressbar-value bg-red">
                                <div class="progressbar-overlay"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="progress-title">
                            Creating tutorials
                            <b>58%</b>
                        </div>
                        <div class="progressbar-smaller progressbar" data-value="58">
                            <div class="progressbar-value bg-blue-alt"></div>
                        </div>
                    </li>
                    <li>
                        <div class="progress-title">
                            Frontend bonus theme
                            <b>74%</b>
                        </div>
                        <div class="progressbar-smaller progressbar" data-value="74">
                            <div class="progressbar-value bg-purple"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
            <a href="#" title="" data-toggle="collapse" data-target="#sidebar-toggle-4" class="popover-title">
                Pending notifications
                <span class="bs-label bg-orange tooltip-button" title="Label example">New</span>
                <span class="caret"></span>
            </a>
            <div id="sidebar-toggle-4" class="collapse in">
                <ul class="notifications-box notifications-box-alt">
                    <li>
                        <span class="bg-purple icon-notification glyph-icon icon-users"></span>
                        <span class="notification-text">This is an error notification</span>
                        <div class="notification-time">
                            a few seconds ago
                            <span class="glyph-icon icon-clock-o"></span>
                        </div>
                        <a href="#" class="notification-btn btn btn-xs btn-black tooltip-button" data-placement="left" title="View details">
                            <i class="glyph-icon icon-arrow-right"></i>
                        </a>
                    </li>
                    <li>
                        <span class="bg-warning icon-notification glyph-icon icon-ticket"></span>
                        <span class="notification-text">This is a warning notification</span>
                        <div class="notification-time">
                            <b>15</b> minutes ago
                            <span class="glyph-icon icon-clock-o"></span>
                        </div>
                        <a href="#" class="notification-btn btn btn-xs btn-black tooltip-button" data-placement="left" title="View details">
                            <i class="glyph-icon icon-arrow-right"></i>
                        </a>
                    </li>
                    <li>
                        <span class="bg-green icon-notification glyph-icon icon-random"></span>
                        <span class="notification-text font-green">A success message example.</span>
                        <div class="notification-time">
                            <b>2 hours</b> ago
                            <span class="glyph-icon icon-clock-o"></span>
                        </div>
                        <a href="#" class="notification-btn btn btn-xs btn-black tooltip-button" data-placement="left" title="View details">
                            <i class="glyph-icon icon-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>